# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted to LF line endings.
*.php text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.env text eol=lf

# Binary files are excluded
*.jpg binary
*.png binary
*.gif binary
